.container {
    display: inline-flex; /* This means the flex property behave like an inline element */
    flex: 1 1 300px;
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.icon {
    padding: 0.0rem;
}

.searchbox {
    border: 0;
    flex: 1;
}

.searchbutton {
    color: white;
    background: #051c57;
    border: 0;
    padding: 0.8rem;
    border-radius: 8px;
}